[Unit]
Description=netcitybot
After=network.target

[Service]
User=www-data
Group=www-data
Restart=always
RestartSec=5s
WorkingDirectory=/root/go/src/netcitybot
#Environment=LOG_LEVEL=Debug
#Environment=BOT_API_TOKEN=
#Environment=BOT_CHAT_ID=
#Environment=NETCITY_USERNAME=
#Environment=NETCITY_PASSWORD=
#Environment=NETCITY_URL=
#Environment=NETCITY_SCHOOL=
#Environment=NETCITY_YEAR_ID=220
#Environment=NETCITY_STUDENT_IDS
#Environment=NETCITY_URLS=
EnvironmentFile=.env
ExecStart=/root/go/src/netcitybot/netcitybot

[Install]
WantedBy=multi-user.target